.THIS .company-icon{
    float: right;
    padding-top: 30px;
}

.THIS .company-icon>img{
    max-height: 100px;
    transition: max-height .35s cubic-bezier(.455,.03,.515,.955),opacity .35s cubic-bezier(.455,.03,.515,.955);
    will-change: opacity;
}

@media only screen and (min-width: 1921px) {
    .THIS .company-icon>img {
        max-height:5.55556vw
    }
}

@media only screen and (max-width: 1679px) and (min-width:1051px) {
    .THIS .company-icon>img {
        max-height:5.55556vw
    }
}

@media only screen and (max-width: 1050px) and (min-width:861px) {
    .THIS .company-icon>img {
        max-height:7.61905vw
    }
}

@media only screen and (max-width: 860px) and (min-width:641px) {
    .THIS .company-icon>img {
        max-height:7.55814vw
    }
}

@media only screen and (max-width: 640px) {
    .THIS .company-icon>img {
        max-height:17.33333vw
    }
}

.THIS .image-text{
    color: #f3f0eb;
    padding: 0;
    position: absolute;
    left: 6%;
    bottom: 44px;
    max-width: 60%;
    text-align: left;
    font-weight: 400;
    line-height: 1.2;
}

.THIS .title-text{
    font-size: 52px;
    font-weight: 800;
    line-height: 1.05;
    color: #fa95c2;
    padding-bottom: 12px;
}
.THIS .subtitle-text{
    font-size: 19px;
    width: auto;
    float: none;
    padding: 0;
    line-height: 1.5;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    background: none;
    opacity: .92;
}

@media only screen and (max-width: 1050px) and (min-width:861px) {
    .THIS .image-text{
         max-width: 50%;
    }
}

@media only screen and (max-width: 860px) {
    .THIS .image-text{
        display: none;
    }
}


.THIS.header{
    height: 560px;
}

@media only screen and (min-width: 1921px) {
    .THIS.header {
        height:29.16667vw
    }
}

@media only screen and (max-width: 1679px) and (min-width:1051px) {
    .THIS.header {
        height:31.5vw
    }
}

@media only screen and (max-width: 1050px) and (min-width:861px) {
    .THIS.header {
        height:42.85714vw
    }
}

@media only screen and (max-width: 860px) and (min-width:641px) {
    .THIS.header {
        height:40.69767vw
    }
}

@media only screen and (max-width: 640px) {
    .THIS.header {
        height:70vw
    }
}

.THIS .header-image{
    width: 100%;
    object-fit: contain;
    min-height: 125px;
}

.THIS .background-image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.THIS .container{
    padding-right: 100px;
    padding-left: 100px;
}

@media only screen and (min-width: 1921px) {
    .THIS .container {
        padding-right:5.55556vw;
        padding-left: 5.55556vw
    }
}

@media only screen and (max-width: 1679px) and (min-width:1051px) {
    .THIS .container {
        padding-right:5.55556vw;
        padding-left: 5.55556vw
    }
}

@media only screen and (max-width: 1440px) and (min-width:1371px) {
    .THIS .container {
        padding-right:5.55556vw;
        padding-left: 5.55556vw
    }
}

@media only screen and (max-width: 1370px) and (min-width:1051px) {
    .THIS .container {
        padding-right:4.37956vw;
        padding-left: 4.37956vw
    }
}

@media only screen and (max-width: 1050px) and (min-width:861px) {
    .THIS .container {
        padding-right:3.80952vw;
        padding-left: 3.80952vw
    }
}

@media only screen and (max-width: 860px) and (min-width:641px) {
    .THIS .container {
        padding-right:3.48837vw;
        padding-left: 3.48837vw
    }
}

@media only screen and (max-width: 640px) {
    .THIS .container {
        padding-right:5.33333vw;
        padding-left: 5.33333vw
    }
}