.THIS{
    background: linear-gradient(to bottom, transparent 0%, #c81d00 50px), transparent;
    padding-top: 50px;
}

.THIS.footer{
    color: white;
    padding-bottom: 30px;
}

.THIS a, .THIS a:hover{
    color: white;
}

@media only screen and (max-width: 768px) {
    .THIS.footer{
        padding-bottom: 150px;
    }
}

.THIS.section_radius-top{
    border-radius: 75% 75% 0 0 / 2% 2% 0 0;
}

.THIS .section_container{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

.THIS .footer_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}

@media only screen and (min-width: 992px) {
    .THIS .footer_content {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
    }
}

.THIS .footer_logo-img {
    display: block;
    width: 153px;
    height: 141px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media only screen and (max-width: 991px) {
    .THIS .footer_logo-img {
       align-content: center;
       align-items: center;
       margin: auto;
    }
}

.THIS .footer_logo-link {
    margin-bottom: 15px;
    display: block;
}

@media only screen and (max-width: 991px) {
    .THIS .footer_logo-link {
        margin-bottom: 30px;
        text-align: center;
    }
}

.THIS .footer-menu {
    text-align: center;
    margin-bottom: 30px;
}


.THIS .footer-menu_item{
    text-align: left;
    margin-bottom: 0;
    padding: 0.5em 0 0 0;
}

@media only screen and (max-width: 768px) {
    .THIS .footer-menu_item {
        text-align: center;
    }
}

.THIS .footer-menu_link{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .THIS .footer-menu_link {
        font-size: 16px;
    }
}

.THIS .footer-menu_link:hover{
    color: white;
    text-decoration: underline;
}

.THIS.footer .contact-info{
    color: white;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .THIS.footer .contact-info {
        text-align: left;
        -webkit-columns: 2;
        -moz-columns: 2;
        column-count: 2;
    }
}

.THIS .contact-info_item{
    margin-bottom: 12px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.THIS.footer .contact-info_title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    .THIS.footer .contact-info_title {
        font-size: 14px;
    }
}

.THIS .contact-info_list{
    margin-top: 7px;
}

.THIS.footer .contact-info_list-item{
    font-size: 14px;
    line-height: 1.5;
}

@media only screen and (min-width: 768px) {
    .THIS.footer .contact-info_list-item {
        font-size: 16px;
    }
}

.THIS .footer-icons .icon{
    height: 32px;
    width: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    display: inline-block;
}

.THIS .footer-icons .icon img{
    height: 32px;
    width: 32px;
}